[submodule "thirdparty/fatfs/src"]
	path = thirdparty/fatfs/src
	url = ../fatfs
[submodule "thirdparty/littlefs/src"]
	path = thirdparty/littlefs/src
	url = https://github.com/littlefs-project/littlefs.git
[submodule "thirdparty/seatest/src"]
	path = thirdparty/seatest/src
	url = https://github.com/keithn/seatest.git
