[submodule "thirdparty/fatfs/src"]
	path = thirdparty/fatfs/src
	url = ../fatfs
[submodule "thirdparty/littlefs/src"]
	path = thirdparty/littlefs/src
	url = https://github.com/littlefs-project/littlefs.git
[submodule "thirdparty/seatest/src"]
	path = thirdparty/seatest/src
	url = ../seatest
[submodule "thirdparty/klib/klib"]
	path = thirdparty/klib/src
	url = https://github.com/attractivechaos/klib.git
[submodule "thirdparty/microtar/microtar"]
	path = thirdparty/microtar/src
	url = https://github.com/rxi/microtar.git
[submodule "thirdparty/md5/src/md5"]
	path = thirdparty/md5/src/md5
	url = ../md5
[submodule "thirdparty/lwext4/src"]
	path = thirdparty/lwext4/src
	url = ../lwext4.git
	branch = mudita
[submodule "thirdparty/lua/src"]
	path = thirdparty/lua/src
	url = https://github.com/lua/lua
[submodule "thirdparty/lualibs/luafilesystem/src"]
	path = thirdparty/lualibs/luafilesystem/src
	url = https://github.com/lunarmodules/luafilesystem
